<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
      <div id="index-bg">
          <h1>Hellow~This is my blog</h1>
          <h2>By <span>Ms.G</span></h2>
        <div id="index-user">
              <a href="/login">Login</a>
              <a href="/register">Register</a>
        </div>
        <div id="index-content-wrap">
                <div id="index-content">
                        <div id="index-per">
                          <span></span>
                            <b>&#xe601;</b>
                              <p>自我介绍</p>
                        </div>
                        <div id="index-prud">
                            <span></span>
                          <b>&#xe600;</b>
                            <p>项目经历</p>
                        </div>
                        <div id="index-blog">
                            <span></span>
                          <b>&#xe603;</b>
                            <p>好好学习</p>
                        </div>

                        <div id="index-connect">
                            <span></span>
                          <b>&#xe608;</b>
                              <p>交流平台</p>
                        </div>
                </div>
        </div>
      </div>


      <script src="/javascripts/jquery-1.11.0.js"></script>
      <script src="/javascripts/index.js">   
      </script>
  </body>
</html>
