<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
      <div id="login-bg">
          <div id="login">

                <h1>&#xe601;　用户登录</h1>

                <form action="" id="form">
                    <label for="user">Username:</label><input type="text" id="user" placeholder="请输入用户名">
                    <label for="pass">Password: </label><input type="password" id="pass" placeholder="请输入密码">
                </form>
                <div id="login-btn">
                    <button id="btn">Login</button>
                </div>
                <div id="login-bottom">
                        <p><a href="#">忘记密码？</a></p>
                       <p><a href="/register">立即注册</a></p>
                </div>
               
          </div>
         


      </div>


      <script src="/javascripts/jquery-1.11.0.js"></script>
      <script src="/javascripts/login.js">   
      </script>
  </body>
</html>
