*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: abc;
    src: url(font/iconfont.ttf);
}
body{
    width: 100vw;
    height: 100vh;
}
#index-bg{
    display: none;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background:url(/images/zoom-bg-1.jpg) no-repeat center ;
    #index-user{
        position: absolute;
        right: 20px;
        top: 20px;
        p{
            font-family: abc;
            color: rgb(129, 239, 253);
            margin-right: 20px;
            float: left;
        }
        a{
            margin: 0 10px;
            text-decoration: none;
            color: rgb(44, 8, 11);
            padding: 4px 6px;
            background: rgb(190, 188, 194);
            border-radius: 3px;
            transition: 0.4s;
            &:hover{
                    color: #000;
                    background: #fff;
            }
        }
       
    }
    h1,h2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        margin-top: 100px;
        font-weight: 100;
    }
    h2{
        margin-top: 10px;
        font-size: 30px;
        span{
            color: #23d68c;
        }
    }

    
}
#index-content-wrap{
    margin-top: 100px;
   
    #index-content{
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        div{
            display: none;
            font-family: abc;
            height: 250px;
            width: 220px;
            float: left;
            position: relative;
            background: rgba(0,0,0,.8);
            border-radius: 10px;
            cursor: pointer;
            transition: 0.4s;
            margin: 20px 0;
            span{
                display:block;
                position: absolute;
                width: 226px;
                height: 250px;
                left: -3px;
                top: 10px;
                transform: scaleX(0);
                transition: 0.4s;
                border-bottom: 3px solid rgb(240, 248, 246);
            }
            b{
                font-size: 60px;
                position: absolute;
                left: 50%;
                margin-left: -30px;
                top: 50px;
                color: #fff;
                transition: 0.4s;
            }
            p{
                font-family: Arial, Helvetica, sans-serif;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                position: absolute;
                bottom: 30px;
                left: 50%;
                margin-left: -40px;
                transition: 0.4s;
            }
            &:hover{
                background: rgba(255,255,255,.7);
                box-shadow:  0 0 30px 0 #1149ff;
                p{
                    color: rgb(73, 62, 175);
                }
                b{
                    color: #4a3dff;
                }
                span{
                    transform: scaleX(1)
                }
            }
        }
    }
}
